.container {
	text-align: center;
	margin: auto;
}

.stack {
	display: flex;
	justify-content: center;
	align-content: center;
	flex: 1;
	margin: 1rem;
	background-color: red;
	height: 300px;
}
.card {
	margin: auto;
	height: 250px;
	width: 200px;
	background-color: blue;
}

.game-board {
	display: flex;
}

#game {
	display: none;
}
