@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--primary-color: #003699;
	--card-font-size: 1.4rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	background: #fff;
	color: #333;
}

.container {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	text-align: center;
}

.stacks {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	background-color: #dddddd;
}

.stack {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0.5rem;
	padding: 0.5rem;
}
.card {
	border: 1px solid #fff;
	margin: auto;
	height: 350px;
	width: 250px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 3%;
	overflow: hidden;
	box-shadow: 0 -4px 3px -2px gray, 4px 0px 3px -2px gray;
}

.card-top {
	font-size: var(--card-font-size);
	padding: 0.5rem;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.card-mid {
	flex: 4;
	display: flex;
	align-items: center;
}

.card-mid-icon {
	flex: 1;
}

.card-bot {
	font-size: var(--card-font-size);
	padding: 0.5rem;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.card-center {
	font-size: 8rem;
	flex: 1;
}

.card-stub {
	margin-bottom: -280px;
	box-shadow: 0 -4px 3px -2px gray, 4px 0px 3px -2px gray;
	border-radius: 3% 3% 0 0;
}

i.fa-spade {
	color: black;
}
i.fa-club {
	color: black;
}
i.fa-heart {
	color: red;
}
i.fa-diamond {
	color: red;
}

#game {
	display: none;
}
